.acc-waiting-content {
  min-height: 660px;
}

.accommodation-datas {
  width: 100%;
  padding: 0 20px;
}
.accommodation-datas h1 {
  font-size: 1.125rem;
}
.upper-content {
  display: flex;
  flex-direction: column;
}
.left-content {
  margin-bottom: 13px;
}
.location {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
}
.right-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 16px;
}
.data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  .acc-waiting-content {
    min-height: 750px;
  }
  .accommodation-datas {
    padding: 0 5vw;
  }
  .accommodation-datas h1 {
    font-size: 2.25rem;
  }
  .upper-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .left-content {
    margin-bottom: 15px;
  }
  .location {
    font-size: 1.125rem;
    line-height: 1.6rem;
  }
  .right-content {
    flex-direction: column;
    justify-content: start;
    margin: 0;
  }
  .data-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
